[2016-10-16 20:27] tobyplowy opened #1 "support for minetest?"
Hallo toby here from The summerfields project
This is an awesome texture pack and I was wondering is there going to be support for minetest?
Minetest is a free open source minecraft clone
http://www.minetest.net

[2016-10-16 22:07] dolanmiu commented on #1
Yes, I love this texture pack too! Such a shame the original author decided to quit :( We must bring this back to life!

Does it use a similar file structure to how minecraft does it?

I have not heard of minetest until now! Looks cool though

[2016-10-16 22:09] dolanmiu opened #2 "Polar bear"
Need a Good Morning Craft style Polar bear to replace the temporary polar bear

https://github.com/dolanmiu/Good-Morning-Craft-Open/blob/master/assets/minecraft/textures/entity/bear/polarbear.png

[2016-10-17 00:55] tobyplowy commented on #1
@dolanmiu It Doesn't Use the same structure as Minecraft, minetest Just Uses One folder and You Just put Everything in that
You can use this as a reference If You need it :D
http://summerfields.info/?tag/minetest
Download The Thing That Says Minetest 0.4.14 (100%)
Also You shuld definitely Give minetest a try

[2016-10-17 00:58] tobyplowy commented on #1
@dolanmiu also i maby interested in helping to update this texture pack I'm not sure yet (I'm already really busy working on Summer Fields and life)

[2016-10-17 01:48] dolanmiu commented on #1
Ok, minetest will probably be a future consideration. I want this working with Vanilla minecraft first before considering anything else!

[2016-10-17 10:28] tobyplowy opened #3 "Some New textures/beter textures"
@dolanmiu Your textures Look Good but They Don't Really Fit the style of Good morning Craft
I Made this topic to share some of my textures

[2016-10-17 10:29] tobyplowy commented on #3
bone_block_top
![bone_block_top](https://cloud.githubusercontent.com/assets/16853304/19434380/5552fcce-9465-11e6-8ec9-1c21278984f2.png)
bone_block_side
![bone_block_side](https://cloud.githubusercontent.com/assets/16853304/19434381/555995b6-9465-11e6-8d0a-eb90a9290349.png)

[2016-10-17 11:00] tobyplowy commented on #2
@dolanmiu
![polarbear](https://cloud.githubusercontent.com/assets/16853304/19435198/aa817adc-9469-11e6-8b3a-f2d3424f2e65.png)

[2016-10-17 11:54] dolanmiu commented on #3
Yes I know.

The textures I have taken from a sample texture pack just to fill in the blanks

I haven't done any proper work on it yet :)

[2016-10-17 11:57] dolanmiu commented on #3
`Bone block` side is good, but the top I'm thinking of making it look like the `Oak Block` on Good Morning Craft. So it respects the style:

https://github.com/dolanmiu/Good-Morning-Craft-Open/blob/master/assets/minecraft/textures/blocks/log_big_oak_top.png

I want to respect the style of the original author as much as possible

Maybe `Bone Block` top can be a re-color of the `Oak Block` top

[2016-10-17 18:11] tobyplowy commented on #3
bone_block_top
![bone_block_top](https://cloud.githubusercontent.com/assets/16853304/19449411/c61d3272-94a5-11e6-8d81-f16cd39ebb34.png)
 re-color of the Oak Block top
bone_block_side
![bone_block_side](https://cloud.githubusercontent.com/assets/16853304/19449412/c6363466-94a5-11e6-8d66-8686c37a67fb.png)

[2016-10-17 18:15] tobyplowy commented on #3
mob_spawner
![mob_spawner](https://cloud.githubusercontent.com/assets/16853304/19449583/69549d9a-94a6-11e6-9765-63a48793bc38.png)

[2016-10-17 18:32] tobyplowy commented on #3
chorus_plant
![chorus_plant](https://cloud.githubusercontent.com/assets/16853304/19450183/bbcad1b4-94a8-11e6-9b83-b5bfec7f1406.png)
chorus_flower
![chorus_flower](https://cloud.githubusercontent.com/assets/16853304/19450181/bbbd90e4-94a8-11e6-872b-7d2d26b222fb.png)
chorus_flower_dead
![chorus_flower_dead](https://cloud.githubusercontent.com/assets/16853304/19450182/bbbf25b2-94a8-11e6-880c-c628e979

[2016-10-17 20:25] dolanmiu commented on #3
Thank you :) I will add them in

Could you in future add each different one in a different thread, just to keep things cleaner, and keep track of whats done

I have updated `bone_top` and `bone_side`

I have updated `chorus_plant`, `chorus_flower` and `chorus_flower_dead`

`mob_spawner` I did not update as Good Morning Craft already had one

[2016-10-17 20:37] tobyplowy commented on #3
@dolanmiu Can you give me credit I will be making More textures Next One on the list is coal block
I have also started work on a port for Minetest (also a little reminder I cannot make a pull Requests I don't know how to do it So you will have to Put the textures i make in The Pack)

[2016-10-17 20:37] dolanmiu commented on #3
Here is the commit:

https://github.com/dolanmiu/Good-Morning-Craft-Open/commit/38ff7d01bfc218277d804d3cedc020ff60fed30e

Thank you! More contributions welcome

[2016-10-17 20:44] dolanmiu commented on #2
Maybe making this a little friendlier? So it doesn't look too mean?

I'll add this version in for now

Commit: https://github.com/dolanmiu/Good-Morning-Craft-Open/commit/2b80d380c8dad568caa837da6d67bff52906c2f8

[2016-10-17 22:59] dolanmiu opened #4 "Shields"
https://github.com/dolanmiu/Good-Morning-Craft-Open/tree/master/assets/minecraft/textures/entity/shield

This needs to be done in the style of Good Morning Craft.

Any ideas?

It seems like a lot of them are effect images, maybe this isn't needed

[2016-10-17 23:02] dolanmiu opened #5 "Shulker"
https://github.com/dolanmiu/Good-Morning-Craft-Open/tree/master/assets/minecraft/textures/entity/shulker

This needs to be done in the style of Good Morning Craft

Perhaps make the face in the middle cuter?

http://minecraft.gamepedia.com/Shulker

[2016-10-17 23:03] dolanmiu opened #6 "Enderdragon fireball"
https://github.com/dolanmiu/Good-Morning-Craft-Open/blob/master/assets/minecraft/textures/entity/enderdragon/dragon_fireball.png

This version is too harsh with the lines I feel.

Perhaps de-saturate the colours a little to make it more mellow.

[2016-10-17 23:06] dolanmiu opened #7 "Beetroot Icons"
https://github.com/dolanmiu/Good-Morning-Craft-Open/blob/master/assets/minecraft/textures/items/beetroot.png

https://github.com/dolanmiu/Good-Morning-Craft-Open/blob/master/assets/minecraft/textures/items/beetroot_seeds.png

https://github.com/dolanmiu/Good-Morning-Craft-Open/blob/master/assets/minecraft/textures/items/beetroot_soup.png

[2016-10-17 23:08] dolanmiu opened #8 "Clock"
This will be a long one. There are lots of clock sprites
## However

Good Morning Craft has made one already like:

https://github.com/dolanmiu/Good-Morning-Craft-Open/blob/master/assets/minecraft/textures/items/clock.png

So I am not sure what these other clocks are for. Perhaps its not needed? Needs testing.
## Current clocks

https://github.com/dolanmiu/Good-Morning-Craft-Open/blob/master/asset

[2016-10-18 00:38] dolanmiu commented on #3
@tobyplowy of course you will get credit. I will add a section on the front with your name. I appreciate this a lot.

Ok upload it here, and I will add it in.

How are you doing the Minetest one? Another GitHub repo? How will this be done?

Thanks

[2016-10-18 06:50] tobyplowy commented on #3
@dolanmiu for the minetest texture pack I will be making a Zip and i will Give It To You via onedrive download and you can just make the Repo and The forum topic (I Would recommend already making a an acount on the minetest forums https://forum.minetest.net/viewforum.php?f=4&sid=df4e1c3e568164489988827121999daa )

[2016-10-18 07:52] tobyplowy opened #9 "hopper"
hopper_inside
![hopper_inside](https://cloud.githubusercontent.com/assets/16853304/19468767/7af0eeec-9518-11e6-999a-4a6010ddb186.png)
hopper_outside
![hopper_outside](https://cloud.githubusercontent.com/assets/16853304/19468768/7b07be1a-9518-11e6-93de-31f1eebd3180.png)
hopper_top
![hopper_top](https://cloud.githubusercontent.com/assets/16853304/19468769/7b0fba8e-9518-11e6-97e2-03913ac6a75d.png)

[2016-10-18 07:53] tobyplowy commented on #8
@dolanmiu you can do this one :P

[2016-10-18 07:58] tobyplowy commented on #6
its simple but meh
![dragonball](https://cloud.githubusercontent.com/assets/16853304/19468919/4d214fec-9519-11e6-920e-cff8c9168b1f.png)

[2016-10-18 08:06] tobyplowy opened #10 "coal block"
![coal_block](https://cloud.githubusercontent.com/assets/16853304/19469193/88c76ad0-951a-11e6-9b93-78b9c5eee37f.png)

[2016-10-18 08:22] tobyplowy commented on #4
shield_base
![shield_base](https://cloud.githubusercontent.com/assets/16853304/19469712/bde4c968-951c-11e6-9bbf-6bbfa6335541.png)

[2016-10-18 08:38] dolanmiu commented on #10
The original author has made a `coal_block` already, so I will not be including this one

anything which has `initial commit` tagged on it means its from the author

https://github.com/dolanmiu/Good-Morning-Craft-Open/blob/master/assets/minecraft/textures/blocks/coal_block.png

[2016-10-18 08:41] dolanmiu commented on #9
The original author has made a `hopper_inside`, `hopper_outside` and `hopper_top` already, so I will not be including this one

anything which has `initial commit` tagged on it means its from the author

![image](https://cloud.githubusercontent.com/assets/2917613/19470335/01217c36-9517-11e6-9de9-096a1bf2a7c9.png)

[2016-10-18 08:41] tobyplowy commented on #10
@dolanmiu Can you make More topics for textures i Can do?

[2016-10-18 09:00] dolanmiu commented on #6
Thanks, I will add this in after I come back from work

[2016-10-18 09:03] dolanmiu opened #11 "Nether Wart Block"
https://github.com/dolanmiu/Good-Morning-Craft-Open/blob/master/assets/minecraft/textures/blocks/nether_wart_block.png

[2016-10-18 09:04] dolanmiu commented on #10
@tobyplowy sure

https://github.com/dolanmiu/Good-Morning-Craft-Open/issues/11

https://github.com/dolanmiu/Good-Morning-Craft-Open/issues/12

Thank you!

[2016-10-18 09:06] dolanmiu commented on #3
@tobyplowy I have an idea for Minetest compatability

Create the .zip for the minetest package once you are done, then send it to me.

I will then try to create an automatic script to then automatically create a minetest texture pack based off this repo...

This way... we only need to update one project, and it will propagate to both :)

[2016-10-18 09:07] dolanmiu opened #12 "Purpur block"
https://github.com/dolanmiu/Good-Morning-Craft-Open/blob/master/assets/minecraft/textures/blocks/purpur_block.png

https://github.com/dolanmiu/Good-Morning-Craft-Open/blob/master/assets/minecraft/textures/blocks/purpur_pillar.png

https://github.com/dolanmiu/Good-Morning-Craft-Open/blob/master/assets/minecraft/textures/blocks/purpur_pillar_top.png

[2016-10-18 09:12] dolanmiu commented on #8
@tobyplowy yes I can do this :)

[2016-10-18 09:16] tobyplowy commented on #3
What do you mean by minetest package ( do you Mean the base game textures)

[2016-10-18 09:18] dolanmiu commented on #12
Maybe with this, it would be best to **recolor** this block:

https://github.com/dolanmiu/Good-Morning-Craft-Open/blob/master/assets/minecraft/textures/blocks/brick.png

or

https://github.com/dolanmiu/Good-Morning-Craft-Open/blob/master/assets/minecraft/textures/blocks/nether_brick.png

[2016-10-18 09:18] dolanmiu opened #13 "End bricks"
https://github.com/dolanmiu/Good-Morning-Craft-Open/blob/master/assets/minecraft/textures/blocks/end_bricks.png

[2016-10-18 09:18] dolanmiu commented on #13
Maybe with this, it would be best to **recolor** this block:

https://github.com/dolanmiu/Good-Morning-Craft-Open/blob/master/assets/minecraft/textures/blocks/brick.png

or

https://github.com/dolanmiu/Good-Morning-Craft-Open/blob/master/assets/minecraft/textures/blocks/nether_brick.png

just so it will match

[2016-10-18 09:31] dolanmiu commented on #3
yes i meant a `.zip` for the textures in the minetest format

[2016-10-18 09:31] dolanmiu commented on #7
I will be doing this tonight

[2016-10-18 09:39] tobyplowy commented on #3
I did Pretty much all the textures

Thers Only a couple More that have to be Done i put them in a seperit folder calld todo
https://1drv.ms/u/s!Ammw1yWbBi3R21Oy8fi78n9T8xIt

[2016-10-18 10:18] dolanmiu commented on #3
@tobyplowy thank you, I will have a look when I come back home from work.

Great progress! :) this is exciting

[2016-10-18 10:29] dolanmiu commented on #3
@tobyplowy ok slight problem

someone else has created a GMC project. I have contacted him for us to all collaborate.

http://www.minecraftforum.net/forums/mapping-and-modding/resource-packs/2682212-good-morning-craft-official-continuation-updated

I will let you know once he responds!

If he decides not to collaborate, then this project will be the Minetest project :)

[2016-10-18 10:48] tobyplowy commented on #3
@dolanmiu I hope he wants to collaborate

Also I Wanted to ask is there 1.11 stuff i Can texture? Like llamas or evoker and if so can you make the issus?

[2016-10-18 11:11] dolanmiu commented on #3
Hold it off for now. I want to see what the other person says after he replies

[2016-10-18 11:12] tobyplowy commented on #3
@dolanmiu It Will probably Take A While to get a reply The Last Time he was online It Was 4 months ago

[2016-10-18 11:12] tobyplowy commented on #12
![purpur](https://cloud.githubusercontent.com/assets/16853304/19475438/83e400cc-9534-11e6-9b65-588c76777f7e.png)

[2016-10-18 11:13] dolanmiu commented on #3
He was last active ealier this month:

[2016-10-18 11:24] dolanmiu commented on #12
The official GMC continutation project has this as pur pur:

![purpur_block](https://cloud.githubusercontent.com/assets/2917613/19475722/710b121c-952d-11e6-8720-56b1939b3189.png)

![purpur_pillar](https://cloud.githubusercontent.com/assets/2917613/19475727/790a9df2-952d-11e6-94f3-f05fd304f0ca.png)

![purpur_pillar_top](https://cloud.githubusercontent.com/assets/2917613/19475738/822199f4-952d-11e6-

[2016-10-18 11:25] dolanmiu commented on #11
The official GMC continuation version does not have this block

[2016-10-18 11:28] dolanmiu commented on #4
@tobyplowy Great! I will add this tonight

the official GMC continuation project does not have this

[2016-10-18 12:48] tobyplowy commented on #12
I downt like The pilar top

[2016-10-18 12:51] tobyplowy opened #14 "stray"
just for fun :D
![stray](https://cloud.githubusercontent.com/assets/16853304/19478293/50a4820a-9542-11e6-9f02-cdd7094ef3a3.png)

[2016-10-18 12:54] dolanmiu commented on #14
I have updated the stray yesterday, sorry! It is the same as the skeleton, but coloured blue:

https://github.com/dolanmiu/Good-Morning-Craft-Open/blob/master/assets/minecraft/textures/entity/skeleton/stray.png

[2016-10-18 12:57] tobyplowy commented on #14
@dolanmiu can you please take iceicles Of My version and put it on your version (The Little Bits of ice Hanging from his ribs and face)

[2016-10-18 12:57] dolanmiu commented on #14
@tobyplowy Will do tonight. I am at work at the moment

[2016-10-18 12:59] tobyplowy commented on #1
@dolanmiu will you be working on The minetest version whin you come home There is not that much work to do anymore

[2016-10-18 13:04] dolanmiu commented on #14
I like your version better actually. I will just use yours

https://github.com/dolanmiu/Good-Morning-Craft-Open/commit/4ff95836a84732c5206a2f2cc73b25bdb1419785

[2016-10-18 13:06] tobyplowy commented on #14
@dolanmiu :D

[2016-10-18 13:08] tobyplowy commented on #14
@dolanmiu Also I Wanted to ask is it a problem that i send so much messages (I can't Imagine How annoying that must be on work)

[2016-10-18 13:13] dolanmiu commented on #3
@tobyplowy

done. Check the Read Me. Under `Contributors`

[2016-10-18 13:16] dolanmiu commented on #14
Its ok, im on my lunch break :)

its pretty chill at work

[2016-10-18 13:17] dolanmiu commented on #1
You need to create a .zip package for me. Then send it to me.
Can you do this?

[2016-10-18 13:19] dolanmiu commented on #8
I did some research and other texture packs do not do this weird 60 clock system. I will resolve it

[2016-10-18 13:29] tobyplowy commented on #1
I alredy did
I did Pretty much all the textures

Thers Only a couple More that have to be Done i put them in a seperit folder calld todo
https://1drv.ms/u/s!Ammw1yWbBi3R21Oy8fi78n9T8xIt

Also you will have to make a Account on this forum
https://forum.minetest.net/viewforum.php?f=4&sid=df4e1c3e568164489988827121999daa

[2016-10-18 15:06] dolanmiu commented on #1
@tobyplowy Signed up

https://forum.minetest.net/memberlist.php?mode=viewprofile&u=20058

[2016-10-18 17:14] tobyplowy commented on #1
@dolanmiu Have You tried Out minetest alredy?

[2016-10-19 08:58] tobyplowy commented on #3
@dolanmiu Did The guy on the forms alredy reply?

[2016-10-19 11:37] dolanmiu commented on #3
@tobyplowy no not yet. I will give him 1 week to reply.

Also, I am posting this onto Minecraft Forums, hopefully it gets approved by today (there is a clash with the other guys project, no point having two GMCs right?), and then we can properly start work on it

[2016-10-19 13:28] tobyplowy commented on #3
@dolanmiu Have You worked on the minetest build alredy?

[2016-10-19 14:07] dolanmiu commented on #3
Not yet, you need to give me the zip of a minetest GMC first so I actually know what I'm doing

[2016-10-19 14:33] tobyplowy commented on #3
@dolanmiu  I already did 3 Times

I did Pretty much all the textures

Thers Only a couple More that have to be Done i put them in a seperit folder calld todo
https://1drv.ms/u/s!Ammw1yWbBi3R21Oy8fi78n9T8xIt

[2016-10-19 14:34] tobyplowy commented on #3
@dolanmiu
This Is The download link https://1drv.ms/u/s!Ammw1yWbBi3R21Oy8fi78n9T8xIt

[2016-10-19 17:18] tobyplowy commented on #3
@dolanmiu What will you do If You doesn't reply In A Week

[2016-10-19 18:42] dolanmiu commented on #3
@tobyplowy then this project will continue as it is I guess, with added Minetest support. He may respond in 4 months time, then we shall decide what to do.

[2016-10-19 18:46] dolanmiu commented on #3
@tobyplowy oh yes, you did send it to me, misunderstood what you said.

didnt realise you was sending me the **minetest** version

i will get to work soon

Why does some of them have `default_` on them, but some dont?

It will be a long process by the way. Be patient with me

[2016-10-19 18:58] tobyplowy commented on #3
@dolanmiu minetest has a mod API and Its Made out of the same Mod api And Everything that has the default_ is from the default nodes (blocks) mod Simply said the Standard blocks like grass Stone dirt you get the Idea

[2016-10-20 12:49] dolanmiu commented on #1
@tobyplowy I have started the minetest automatic conversion process. I have done 7 out of 199 textures so far:

https://github.com/dolanmiu/Good-Morning-Craft-Open/commit/43c97d17110687e048876f91d2da499fab0d078b

if you can help create one for each texture, it would be great

[2016-10-20 18:05] tobyplowy commented on #1
@dolanmiu how do i help?

[2016-10-20 18:13] dolanmiu commented on #1
1. you have to create a pull-request. Learn how [here](https://yangsu.github.io/pull-request-tutorial/).
2. In each file you want added into MineTest, for example:
   `assets/minecraft/textures/items/bed.png`, create a `.convert` file. E.g. `assets/minecraft/textures/items/bed.convert`.
3. `bed.png`, and `bed.convert` should be in the same folder.
4. in the `.convert` file, write the MineTest name

[2016-10-20 18:19] tobyplowy commented on #1
@dolanmiu I Don't really understand Why The Script has to be made you cant you do it with gimp or Photoshop also There is a lot of customization like recoloring en Custom textures I don't know if its Possible to make a script do that Without wasting a ton Of Time

[2016-10-20 18:20] tobyplowy commented on #1
@dolanmiu also i tried learning how to make a pull Request and I Just Don't Understand It :/

[2016-10-20 18:31] dolanmiu commented on #1
@tobyplowy ok, if it has a lot of colour and customisations, then sorry, I cannot do this. I thought it was the same files. Minetest support will not be included in this

[2016-10-20 18:42] tobyplowy commented on #1
@dolanmiu that sucks :/

[2016-10-25 08:17] tobyplowy commented on #3
@dolanmiu and has the Guy from the forums already replyed If not I don't think he/she will

[2016-11-06 01:22] tobyplowy commented on #3
@dolanmiu so did he answer?

[2016-12-04 00:45] tobyplowy commented on #3
@dolanmiu hi still interested in working together

[2016-12-04 01:53] dolanmiu commented on #3
@tobyplowy hey, the guy did not respond unfortunately :( So now this project may have to turn into the minetest project, as he is managing the Official Good Morning Craft.

I do not want to have 2 seperate "Official" Good morning crafts

what do you think about this?

[2016-12-04 11:00] tobyplowy commented on #3
@dolanmiu so now we make it for minetest

[2016-12-04 20:42] tobyplowy commented on #3
@dolanmiu so now we make it for minetest? http://www.minetest.net

[2016-12-12 10:13] tobyplowy commented on #3
@dolanmiu When do we start with the minetest project?

[2016-12-12 10:40] dolanmiu commented on #3
@tobyplowy will get it started today! Have been quite busy lately. Will change the project structure today to Minetest one

[2016-12-12 10:42] tobyplowy commented on #3
@dolanmiu you will help with the technical side yes (I can only do Art I cannot help with github related Stuff)

[2016-12-12 10:52] tobyplowy commented on #3
@dolanmiu also the pacages have updated sins last time ters new textures so you need to use this link https://1drv.ms/u/s!Ammw1yWbBi3R41Ph9wFrdzrLtrY8

[2016-12-12 10:57] dolanmiu commented on #3
@tobyplowy done. Now the project is now for minetest. Can you give me installation instructions, so I can add it to the readme?

[2016-12-12 10:58] tobyplowy commented on #3
@dolanmiu give me a sec

[2016-12-12 11:02] dolanmiu commented on #3
@tobyplowy Does it seem like someone else is making Good Morning Craft for Minetest?

https://forum.minetest.net/viewtopic.php?id=7600

This is from 2013 though

[2016-12-12 11:04] tobyplowy commented on #3
@dolanmiu warning I don't know If this is gonna be really helpful but I'm gonna try, so first you will need minetest you can get it here http://www.minetest.net once you have that you download the texture pack then you go to your minetest installation directory for me it's C:\games\minetest then go to the textures folder and put it in there (Note you will have to extract the zip)

[2016-12-12 11:04] tobyplowy commented on #3
@dolanmiu https://forum.minetest.net/viewtopic.php?id=7600 yes I know about this but it's really outdated

[2016-12-12 11:06] tobyplowy commented on #3
@dolanmiu also he's not working on it anymore

[2016-12-12 11:13] dolanmiu commented on #3
@tobyplowy I see. So I guess it is now our job to keep Good Morning Craft maintained.

I have updated the page. Added instructions. Please tell me if the installation instructions are good or clear

What are the next steps? Are you going to post it on the minetest forum?

[2016-12-12 11:17] tobyplowy commented on #3
@dolanmiu The next step is converting the rest of the textures

[2016-12-12 11:21] tobyplowy commented on #3
@dolanmiu also C:\Program Files (x86)\Minetest is not the standart game derectory this is C:\Games\minetest\textures

[2016-12-12 11:21] tobyplowy commented on #14
@dolanmiu i guss this can be closed

[2016-12-12 11:22] #14 closed

[2016-12-12 11:24] tobyplowy commented on #11
@dolanmiu i guss this can also be closed and all the rest of the Minecraft issues

[2016-12-12 11:25] #11 closed

[2016-12-12 11:25] tobyplowy commented on #3
@dolanmiu how will we split the work?

[2016-12-12 11:25] dolanmiu commented on #3
@tobyplowy can you test the installation works from github?

[2016-12-12 11:26] tobyplowy commented on #3
@dolanmiu yes i can

[2016-12-12 11:29] dolanmiu commented on #3
@tobyplowy I can help a little bit with the art, just make a ticket of what needs doing.

You know more about Minetest than me

But most of the art, you have already done?

Advertise this on the forums. Make a nice post :)

Otherwise, I will wait to see if this texture pack gets successful or not. If it is successful, I will make a dedicated website for it.

[2016-12-12 11:37] tobyplowy commented on #3
@dolanmiu > Advertise this on the forums. Make a nice post :)

My English is not so good I tink it's better if you do it

[2016-12-12 11:40] tobyplowy commented on #3
@dolanmiu textures you can do
default_coral_skeleton
![default_coral_skeleton](https://cloud.githubusercontent.com/assets/16853304/21098116/ef23709e-c067-11e6-95e2-123270cd777e.png)
default_coral_brown
![default_coral_brown](https://cloud.githubusercontent.com/assets/16853304/21098117/ef371fcc-c067-11e6-8dd3-3ecf3c31b3c5.png)
default_coral_orange
![default_coral_orange](https://cloud.githubusercon

[2016-12-12 11:42] tobyplowy commented on #3
@dolanmiu i have to go for now but i will come back in around 4 howers

[2016-12-12 11:45] dolanmiu commented on #3
@tobyplowy ok, I will make a post about it soon.

[2016-12-12 11:45] dolanmiu opened #15 "Default coral"
Originals:

default_coral_skeleton
![default_coral_skeleton](https://cloud.githubusercontent.com/assets/16853304/21098116/ef23709e-c067-11e6-95e2-123270cd777e.png)
default_coral_brown
![default_coral_brown](https://cloud.githubusercontent.com/assets/16853304/21098117/ef371fcc-c067-11e6-8dd3-3ecf3c31b3c5.png)
default_coral_orange
![default_coral_orange](https://cloud.githubusercontent.com/assets/16

[2016-12-12 11:46] tobyplowy commented on #3
@dolanmiu thank you

[2016-12-12 11:49] tobyplowy commented on #3
@dolanmiu bdw this is more of a feedback question wat do you tink of the minetest community?

Also have to go now see jah

[2016-12-12 11:51] dolanmiu commented on #3
@tobyplowy I don't know, I can't play Minetest, I have a Mac :P

At the moment, I am spending most of my gaming time on League of Legends, so not much time to even play Minecraft

[2016-12-12 11:53] tobyplowy commented on #3
@dolanmiu it shuld work on mac look at this https://github.com/krondor-game/minetest/releases/tag/stable also this http://www.minetest.net/downloads/ and this https://forum.minetest.net/viewtopic.php?t=9190

[2016-12-12 11:58] dolanmiu commented on #3
@tobyplowy https://forum.minetest.net/viewtopic.php?f=4&t=16027 posted.

I have left a thank you note to you on the bottom

[2016-12-12 14:33] tobyplowy commented on #3
@dolanmiu I'm back

[2016-12-13 16:06] tobyplowy commented on #3
@dolanmiu im working on another update to add more stuff

[2016-12-13 16:35] tobyplowy commented on #3
i made a custom logo does it look good ![header](https://cloud.githubusercontent.com/assets/16853304/21149003/532869d0-c15a-11e6-8846-923cf1430cf5.png)

[2016-12-13 16:35] tobyplowy commented on #3
@dolanmiu i made a custom logo does it look good ![header](https://cloud.githubusercontent.com/assets/16853304/21149003/532869d0-c15a-11e6-8846-923cf1430cf5.png)
you can put it on the forums

[2016-12-13 16:38] dolanmiu commented on #3
I will update the logo promptly

[2016-12-13 16:49] tobyplowy commented on #3
@dolanmiu can you do these textures?
default_coral_skeleton
![default_coral_skeleton](https://cloud.githubusercontent.com/assets/16853304/21098116/ef23709e-c067-11e6-95e2-123270cd777e.png)
default_coral_brown
![default_coral_brown](https://cloud.githubusercontent.com/assets/16853304/21098117/ef371fcc-c067-11e6-8dd3-3ecf3c31b3c5.png)
default_coral_orange
![default_coral_orange](https://cloud.github

[2016-12-13 16:50] dolanmiu commented on #3
@tobyplowy https://github.com/dolanmiu/Good-Morning-Craft-Minetest/issues/15

I will when I get time

[2016-12-13 16:50] tobyplowy commented on #3
@dolanmiu ok ;D

[2016-12-13 17:14] tobyplowy commented on #3
@dolanmiu this is some more stuff to add to the pack [add to master.zip](https://github.com/dolanmiu/Good-Morning-Craft-Minetest/files/649568/add.to.master.zip)

[2016-12-15 18:04] tobyplowy commented on #3
@dolanmiu thanks for your amazing work btw

[2016-12-15 19:44] dolanmiu commented on #3
@tobyplowy updated the textures in `add to master.zip`

no problem, thank you to your contribution too

[2017-03-15 20:21] #1 closed

[2017-03-15 20:22] tobyplowy commented on #3
@dolanmiu hi It's been awhile how is it going?

[2017-03-15 20:24] dolanmiu commented on #3
Yes! It's going good, been busy, this very nice guy made some updates to this project, so I'm very happy

Will need to update the thread today

[2017-03-15 20:27] tobyplowy commented on #4
@dolanmiu close?

[2017-03-15 20:28] tobyplowy commented on #3
@dolanmiu yeh it's been awhile XD

[2017-03-15 20:31] tobyplowy commented on #3
@tacotexmex can you support xdecor?

[2017-03-15 20:44] tobyplowy commented on #3
@dolanmiu I don't have permission to merge pr's

[2017-03-15 20:48] dolanmiu commented on #3
Yes only I have permission to merge PR, you can submit one, then I will merge

[2017-03-15 20:49] dolanmiu commented on #3
I don't know much about xdecor, so I can't tell you, if you submit a PR for xdecor support, that would be great

[2017-03-15 20:51] tobyplowy commented on #3
@dolanmiu I don't actually know how to make pr's If I don't have permission to merge :/

[2017-03-15 20:51] tobyplowy commented on #3
@dolanmiu I suck at github XD

[2017-03-15 22:24] dolanmiu commented on #3
its best if you watch a tutorial on youtube about it, its hard to explain over this

and P.S. I made a chat room for this project:

https://gitter.im/good-morning-craft/Lobby#

[2017-03-16 10:13] tacotexmex opened #18 "farming_plus and crops support"
Partial support can be accomplished with GMCs textures, but the rest needs to be drawn. Perhaps a mission for @tobyplowy?

[2017-03-16 10:20] tobyplowy commented on #18
@tacotexmex can maybe help

[2017-03-18 20:41] #3 closed

[2017-03-27 10:13] #9 closed

[2017-03-27 10:14] #15 closed

[2017-03-27 12:21] tobyplowy commented on #13
@dolanmiu This can be closed

[2017-03-27 12:22] #10 closed

[2017-03-27 12:23] tobyplowy commented on #12
@dolanmiu This can be closed

[2017-03-27 12:23] tobyplowy commented on #6
@dolanmiu This can be closed

[2017-03-27 12:23] tobyplowy commented on #4
@dolanmiu This can be closed

[2017-03-27 12:23] tobyplowy commented on #2
@dolanmiu This can be closed

[2017-03-27 12:23] tobyplowy commented on #5
@dolanmiu This can be closed

[2017-03-27 12:24] tobyplowy commented on #7
@dolanmiu This can be closed

[2017-03-27 12:24] #7 closed

[2017-03-27 12:24] #2 closed

[2017-03-27 12:25] #6 closed

[2017-03-27 12:25] #4 closed

[2017-03-27 12:25] #12 closed

[2017-03-27 12:25] #13 closed

[2017-03-27 12:25] #5 closed

[2017-03-27 12:26] dolanmiu commented on #8
do clocks need to be in minetest? or are the clocks ok in MT?

[2017-03-27 12:26] tobyplowy opened #20 "nodebox trees mod support"
@tacotexmex You can get it here
https://forum.minetest.net/viewtopic.php?f=9&t=16292

[2017-03-27 12:31] tacotexmex commented on #8
There are no clocks in MT_game. There is a mod for it, but I can't recall the name right now.

[2017-03-27 12:32] tacotexmex commented on #20
I'm confused, did I request this? :)

[2017-03-27 12:33] tobyplowy commented on #8
@dolanmiu this can be closed

[2017-03-27 12:34] tobyplowy commented on #8
@dolanmiu it can be reopend as a mod support issue

[2017-03-27 12:37] tobyplowy commented on #20
@tacotexmex No I request this XD

[2017-03-27 13:37] tacotexmex commented on #20
I prefer [plantlike_leaves](https://forum.minetest.net/viewtopic.php?t=13433) but go ahead 😃

[2017-03-27 14:24] tacotexmex opened #21 "dfcaverns support"
Big [mod](https://github.com/FaceDeer/dfcaverns), much work.

[2017-04-03 14:47] tacotexmex opened #23 "minetest-texturepacks organisation"
Here's an idea. There's an Github organisation called minetest-mods that collectively manages a collection of mods. Why don't we start "minetest-texturepacks" and put Good Morning Craft there? It could serve as a mark of quality of the texture packs and an assurance that the pack is being actively maintained.

[2017-04-03 14:56] dolanmiu commented on #23
If you mean create a repository and shove every texture pack in that respository, then I am against that. I like the seperation such that each project has its own dedicated repository

Unless you mean somethiung else

[2017-04-03 15:02] dolanmiu commented on #23
perhaps make a website which links to all the texture packs would be a better idea, but maybe someone has already done this

[2017-04-03 16:19] tacotexmex commented on #23
No, I mean separate repositories under one organisation, the way [minetest-mods](https://github.com/minetest-mods/) are doing it. (one repo for all packs would be utter madness 😄 )

I created one [here](https://github.com/minetest-texturepacks).

Yes, a website template for the maintained texture packs in that organisation could then be made.

[2017-04-03 16:34] dolanmiu commented on #23
good shout, thats a very good idea, how do we get everyone on board?

[2017-04-03 16:36] dolanmiu commented on #23
Did you make this?

Seems like it already exists:

https://github.com/minetest-texturepacks

[2017-04-03 16:38] tacotexmex commented on #23
Yes I did! I think we start out with our pack, then reach out to certain other maintainers eventually.

First we need to migrate the repo to there. I'll invite you.

[2017-04-03 16:40] dolanmiu commented on #23
ok sounds good

I will update the minetest forum post with the new URL after

[2017-04-03 20:36] dolanmiu commented on #23
done, it is now under `minetest-texturepacks`

[2017-04-03 20:36] #23 closed

[2017-04-04 00:28] tobyplowy commented on #20
@tacotexmex @dolanmiu can this be added [nodebox tree mod.zip](https://github.com/minetest-texturepacks/Good-Morning-Craft-Minetest/files/891794/nodebox.tree.mod.zip)

this is for https://github.com/D00Med/nodebox_trees

[2017-04-04 00:47] tobyplowy opened #24 "flowerpot mod support"
https://github.com/D00Med/flowerpots

[2017-04-04 06:41] tacotexmex commented on #20
Done! Are you looking at the corals too? :)

[2017-04-04 10:37] tobyplowy commented on #20
if you make a texture for it :)

[2017-04-04 18:23] tacotexmex opened #26 "Water"
minetest_game water has snuck into the pack. Simply switching over to GMC textures…
- makes the water look quite murky
- shows animation artifacts in the source water
- makes flowing water and source water mix in an ugly way.

~~Need to adjust the saturation, brightness and contrast in order to compensate for what could probably be blamed on MTs poor lightning system.~~

Best course of action is p

[2017-04-09 00:47] tobyplowy commented on #26
Ehm no thats a bad idea!

[2017-04-10 09:13] tacotexmex opened #27 "Clothing"
I want to support stu's [clothing mod](https://github.com/stujones11/clothing). The idea is to not just create single-color clothing but to add interesting details on each piece of clothing, GME style. Think of how GME treats the armor classes, adding a unique style to each piece.

[2017-04-10 17:16] tacotexmex commented on #27
Mod seems a bit neglected though.

[2017-04-10 17:25] tacotexmex commented on #24
But it's broken?

[2017-04-10 17:27] tobyplowy commented on #24
@tacotexmex Broken how so?

[2017-04-10 17:32] tacotexmex commented on #24
[code]
on load. ¯\_(ツ)_/¯

[2017-04-10 17:34] tobyplowy commented on #24
Ok that will have to be fixed

[2017-04-10 17:35] tobyplowy commented on #24
Can you make an issue

[2017-04-12 17:19] tacotexmex opened #28 "Clean up repo"
There are remains of the days when the project was aiming at Minecraft as well as Minetest. Can I clean up the repo @dolanmiu? Is there any Minecraft related worth saving?

[2017-04-12 23:42] dolanmiu commented on #28
Nope, you can do whatever you wish!

The original stuff is in the git history anyway.

[2017-04-13 15:09] tacotexmex commented on #26
Somehow a reconversion with mcresconvert solved the animation artifacts and made it look nicer. Closing.

[2017-04-13 15:09] #26 closed

[2017-04-21 08:43] tacotexmex opened #29 "Anvil support"
- [x] Anvil
- [x] Hammer

[2017-04-25 18:20] tacotexmex opened #30 "Herbs"
![bild](https://cloud.githubusercontent.com/assets/25328789/25401090/008542c6-29f5-11e7-9e46-c6bce8e92e97.png)
🎉
https://github.com/kakalak-lumberJack/herbs

[2017-04-25 21:37] tacotexmex opened #31 "Digtron"

[2017-04-29 15:52] tacotexmex commented on #30
Done

[2017-04-29 15:52] #30 closed

[2017-04-29 18:43] tacotexmex commented on #8
There's no Minecraft-like clock mod for Minetest that works with Minetest Game. Closing.

[2017-04-29 18:43] #8 closed

[2017-04-29 18:43] tacotexmex commented on #27
Not feeling like it anymore 👎

[2017-04-29 18:43] #27 closed

[2017-04-29 18:53] tacotexmex commented on #18
These are the plants that GMC supports
- Wheat
- Melon
- Pumpkin
- Sugar Canes
- Potato
- Poisonous Potato
- Carrot
- Cocoa Beans
- Beetroot
- Nether Wart

These are the plants farming_plus supports
- Wheat
- Cotton
- Carrot
- Potato
- Tomato
- Cucumber
- Corn
- Coffee
- Melon
- Sugar
- Pumpkin
- Cocoa
- Raspberry
- Blueberry
- Rhubarb
- Beanpole
- Grapes
- Barley
- Hemp
- Donut

Thus these plants

[2017-04-29 19:00] tacotexmex opened #32 "Obsidian"
There's an original obsidian texture in GMC that I missed. Will redo obsidian stuff based on it.
![](https://cloud.githubusercontent.com/assets/25328789/25558028/b9fdbd06-2d1e-11e7-9a8c-11938e9b4275.png)

[2017-04-29 19:24] tobyplowy commented on #18
@tacotexmex what about we split the work on the textures that still need to be made?

You do half I do the rest is that ok?

[2017-04-29 19:57] tacotexmex commented on #18
That is fine, I'll try my best. 😃

[2017-04-29 19:58] tobyplowy commented on #18
@tacotexmex :)

[2017-04-29 22:25] tobyplowy commented on #18
@tacotexmex just give me a @tobyplowy when you're done
And I will see what I can do

[2017-04-30 19:58] tobyplowy commented on #18
@dolanmiu @tacotexmex on second thought I will have alot of trouble helping project anymore (this mod and good morning craft) all my interest is focused on my subgame farlands and Summerfields :/

[2017-04-30 20:57] tacotexmex commented on #18
Then I think you should put your energy towards that @tobyplowy. I'll manage this and you go make that very promising subgame with D00med. Good luck!

[2017-04-30 21:03] tobyplowy commented on #18
@tacotexmex thanks for understanding (note this doesn't mean I will never come back)

[2017-05-09 09:11] tacotexmex opened #33 "Moon"
One of the moons with face should be default. I may not like it, but it's the will of GMC.

[2017-05-09 09:12] tacotexmex commented on #20
![](https://minetest-checker.herokuapp.com/mod/D00Med/nodebox_trees/minetest-texturepacks/Good-Morning-Craft-Minetest.svg)

[2017-05-12 14:49] #32 closed

[2017-05-12 14:49] tacotexmex opened #34 "Corals"
This is beyond my skills. Can you help me out @tobyplowy? Just the three textures.

- [x] default_coral_brown
- [x] default_coral_orange
- [x] default_coral_skeleton

[2017-05-12 17:42] tacotexmex opened #35 "wood_plus"
This will introduce all doors GMC has to offer.

[2017-05-13 14:51] #28 closed

[2017-05-16 07:53] tacotexmex opened #36 "Bedrock"

[2017-05-16 07:55] tacotexmex opened #37 "Convert villager skins to regular skins"
Possibly aim for multiskin (MC 1.8) skin support.

[2017-05-16 07:58] tacotexmex opened #38 "Signs + signs_lib"
Use provided in-world look for signs, so that it works well with signs_lib.

[2017-05-16 08:08] #29 closed

[2017-05-16 08:14] tacotexmex opened #39 "amc"
Make use of all those mob skins.

[2017-05-16 08:15] tacotexmex opened #40 "Mese"
Define GMC style mese look.

[2017-05-16 08:17] tacotexmex opened #41 "Experience"
Create orb from experience_bottle.png.

[2017-05-19 16:43] #41 closed

[2017-05-19 16:43] #36 closed

[2017-05-19 16:44] tacotexmex commented on #35
Doors done. 🚪 👍

[2017-05-30 12:10] #40 closed

[2017-05-30 14:54] tacotexmex opened #42 "Minetest Game"
Let's get it done.

- [ ] beds_bed_fancy
- [ ] beds_bed_foot
- [ ] beds_bed_head
- [ ] beds_bed_side1
- [ ] beds_bed_side2
- [ ] beds_bed_top1
- [ ] beds_bed_top2
- [ ] bones_bottom
- [ ] bones_front
- [ ] bones_rear
- [ ] bones_side
- [ ] bones_top
- [ ] default_acacia_bush_sapling
- [ ] default_bronze_block
- [ ] default_bush_sapling
- [ ] default_chest_inside
- [ ] default_coral_brown
- [ ] def

[2017-05-30 18:24] tacotexmex opened #43 "minetest-mods/quartz"

[2017-05-30 18:47] #43 closed

[2017-05-31 12:09] tacotexmex commented on #33
Use full moon since, runtime texture-change impossible.
![image](https://cloud.githubusercontent.com/assets/25328789/26631325/c5a6f2b2-460a-11e7-8626-227c1d99d5b1.png)

[2017-06-15 11:12] tobyplowy commented on #34
@tacotexmex yes I will see what I can do

[2017-06-15 11:39] tobyplowy commented on #34
@tacotexmex how is this (im not really happy with the resoults myself)
![default_coral_skeleton](https://user-images.githubusercontent.com/16853304/27179672-ea4411ce-51cf-11e7-8264-73e4c499e1ef.png)
![default_coral_orange](https://user-images.githubusercontent.com/16853304/27179671-ea3e21a6-51cf-11e7-9f8f-d5007863a6c3.png)
![default_coral_brown](https://user-images.githubusercontent.com/16853304/2

[2017-06-15 12:54] tacotexmex commented on #34
They're pretty! Perhaps and if you'd like, you can make them differ pattern-wise?

![](https://upload.wikimedia.org/wikipedia/commons/5/56/Brain_coral.jpg)

![](http://i375.photobucket.com/albums/oo192/aquasandiego/bbb/OrangeSunCoral-59.jpg)

![](https://upload.wikimedia.org/wikipedia/en/9/90/Keppelbleaching.jpg)

[2017-06-15 13:51] tobyplowy commented on #34
@tacotexmex can you try that?

[2017-06-15 16:55] tacotexmex commented on #34
I did, but I failed. That's why I think you'll do better 🙂

[2017-06-18 19:44] tacotexmex commented on #34
New try. Got inspired by your colors and went this way ![bild](https://user-images.githubusercontent.com/25328789/27263705-519a6ec6-546f-11e7-8927-fc3fd70f92fa.png) with it. ¯\_(ツ)_/¯

[2017-06-18 20:54] tobyplowy commented on #34
@tacotexmex that looks nice it's even better than wat I made

[2017-06-18 21:02] tacotexmex commented on #34
Heh, thanks. I've also thought of repurposing the sponge and the chorus flower with other colors, but that's almost cheating.

[2017-06-21 13:31] tacotexmex commented on #34
I went with these for the time being ![](https://raw.githubusercontent.com/minetest-texturepacks/Good-Morning-Craft-Minetest/aa32d37577f5653278789d9fbec567e4f4e2e31f/default_coral_brown.png) ![](https://raw.githubusercontent.com/minetest-texturepacks/Good-Morning-Craft-Minetest/aa32d37577f5653278789d9fbec567e4f4e2e31f/default_coral_orange.png) ![](https://raw.githubusercontent.com/minetest-texture

[2017-11-05 14:58] tobyplowy commented on #34
@tacotexmex I think your textures are better

[2017-11-05 15:01] tobyplowy opened #44 "Minetest 0.5.0"
@tacotexmex @dolanmiu there's new stuff added to the newest minetest unstable

I will update this in a little while

[2017-11-06 08:47] #34 closed

[2018-03-13 12:55] tacotexmex commented on #44
Closing as @tobyplowy seems to want nothing to do with MT any more?

[2018-03-13 12:55] #44 closed

[2018-03-13 15:25] tobyplowy commented on #44
@tacotexmex yeh sorry for that
But I will make a port for Qub³d (minecore)

I think you know the reason why I'm no longer interested in minetest
Anyway it doesn't matter I will make a port for Qub³d as I said :)

[2018-03-13 17:10] tacotexmex commented on #44
That’s nice! But will you use this specific repo for the port?

[2018-03-13 17:17] tobyplowy commented on #44
No I will make a new one

[2019-09-30 19:47] 4strid opened #47 "compatible with minecraft?"
wondering if this is compatible or if there's a way to make it compatible with Minecraft

[2019-09-30 21:39] tacotexmex commented on #47
As it comes from a Minecraft resource pack originally you simply have to google for it.

[2019-09-30 21:39] #47 closed

[2020-11-21 07:08] 1280px commented on #42
So sad you abandoned this attempt to reborn GMC :c

[2020-11-27 13:11] tacotexmex commented on #42
It's even sadder if you can't pick it up 😉

[2021-04-11 15:00] ghost commented on #18
Did anything get completed?
If so what's left

[2021-04-11 15:53] AndreasTNT opened #48 "Mineclone support?"
Hi, was searching around github and stumbled across this texture pack for minetest
Decided to try it and saw that the pack doesn't support the MineClone2 game.

Is support for MineClone planned?

[2021-04-12 08:55] tacotexmex commented on #48
Nothing's planned but if you look in the MineClone2 [tools directory](https://git.minetest.land/MineClone2/MineClone2/src/branch/master/tools), you'll find a way to convert the original Minecraft texture pack to MineClone2.

[2022-07-11 09:51] ghost commented on #48
Forgot to say thanks!